
//---------------------------BASE-PHONE-----------------------------

body {
    background-color: rgb(0, 0, 0);
}

header  {
    z-index: 99;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        color: white;
        font-weight: light;
        font-size: larger;
        text-transform: uppercase;
    }
}

.box {
    background-color: antiquewhite;
    border-radius: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main  {
    position: relative;
    background-color: black;
    width: 98vw;
    max-width: 700px;
    // height: 90vh;
    margin: auto;
}



//---------------------------TOP-SECTION-----------------------------

.top-section {
    // background-color: red;
    padding: 0 2px 0 2px;
    margin-top: 40px;
    min-height: 12rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.menu {
    grid-column: span 2;
}

.name {
    grid-column: span 8;
}

.settings {
    grid-column: span 2;
}

.class-level {
    grid-column: span 4;
    grid-row: span 2;
}

.picture {
    grid-column: span 4;
    grid-row: span 2;
}

.hp-dice {
    grid-column: span 4;
    grid-row: span 2;
}

.prof {
    grid-column: span 4;
}

//---------------------------MID-SECTION-----------------------------

.mid-section {
    // background-color: yellow;
    padding: 2px 2px 0 2px;
    min-height: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.skills-section {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: 0 1px 2px 1px;
    .box-header {
        grid-column: span 12;
        grid-row: span 1;
        display: flex;
        justify-content: center;
    }
    h2 {
        font-weight: lighter;
        font-size: large;
        width: 50%;
        text-align: center;
        border-radius: 5px;
    }
    .skill-row {
        grid-column: span 6;
        display: flex;
        justify-content: space-between;
        font-size: .8rem;
        margin: 2px 1px 2px 1px;
        div {
            // border: solid black 1px;
            background-color: rgba($color: #000000, $alpha: 0.2);
            border-radius: 5px;
            margin: 2px 1px 2px 1px;
            padding: 2px;
        }
        div:nth-child(1) {
            // background-color: yellow;
            margin-left: 2px;

        }
        div:nth-child(2) {
            // background-color: green;
            text-transform: uppercase;
        }
        div:nth-child(3) {
            // background-color: red;
            flex-grow: 2;
        }
        div:nth-child(4) {
            // background-color: blue;
            margin-right: 2px;
        }
    }
}

.feats-section {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: 0 1px 2px 1px;
    .box-header {
        grid-column: span 12;
        grid-row: span 1;
        display: flex;
        justify-content: center;
    }
    h2 {
        font-weight: lighter;
        font-size: large;
        width: 50%;
        text-align: center;
        border-radius: 5px;
    }
    .skill-row {
        grid-column: span 6;
        display: flex;
        justify-content: space-between;
        font-size: .8rem;
        margin: 2px 1px 2px 1px;
        div {
            // border: solid black 1px;
            background-color: rgba($color: #000000, $alpha: 0.2);
            border-radius: 5px;
            margin: 2px 1px 2px 1px;
            padding: 2px;
        }
        div:nth-child(1) {
            // background-color: yellow;
            margin-left: 2px;

        }
        div:nth-child(2) {
            // background-color: green;
            text-transform: uppercase;
        }
        div:nth-child(3) {
            // background-color: red;
            flex-grow: 2;
        }
        div:nth-child(4) {
            // background-color: blue;
            margin-right: 2px;
        }
    }
}

.actions-section {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: 0 1px 2px 1px;
    .box-header {
        grid-column: span 12;
        grid-row: span 1;
        display: flex;
        justify-content: center;
    }
    h2 {
        font-weight: lighter;
        font-size: large;
        width: 50%;
        text-align: center;
        border-radius: 5px;
    }
    .skill-row {
        grid-column: span 6;
        display: flex;
        justify-content: space-between;
        font-size: .8rem;
        margin: 2px 1px 2px 1px;
        div {
            // border: solid black 1px;
            background-color: rgba($color: #000000, $alpha: 0.2);
            border-radius: 5px;
            margin: 2px 1px 2px 1px;
            padding: 2px;
        }
        div:nth-child(1) {
            // background-color: yellow;
            margin-left: 2px;

        }
        div:nth-child(2) {
            // background-color: green;
            text-transform: uppercase;
        }
        div:nth-child(3) {
            // background-color: red;
            flex-grow: 2;
        }
        div:nth-child(4) {
            // background-color: blue;
            margin-right: 2px;
        }
    }
}

.inventory-section {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: 0 1px 2px 1px;
    .box-header {
        grid-column: span 12;
        grid-row: span 1;
        display: flex;
        justify-content: center;
    }
    h2 {
        font-weight: lighter;
        font-size: large;
        width: 50%;
        text-align: center;
        border-radius: 5px;
    }
    .skill-row {
        grid-column: span 6;
        display: flex;
        justify-content: space-between;
        font-size: .8rem;
        margin: 2px 1px 2px 1px;
        div {
            // border: solid black 1px;
            background-color: rgba($color: #000000, $alpha: 0.2);
            border-radius: 5px;
            margin: 2px 1px 2px 1px;
            padding: 2px;
        }
        div:nth-child(1) {
            // background-color: yellow;
            margin-left: 2px;

        }
        div:nth-child(2) {
            // background-color: green;
            text-transform: uppercase;
        }
        div:nth-child(3) {
            // background-color: red;
            flex-grow: 2;
        }
        div:nth-child(4) {
            // background-color: blue;
            margin-right: 2px;
        }
    }
}

.hidden {
    display: none;
}

//---------------------------BOTTOM-SECTION-----------------------------


.bottom-section {
    margin-bottom: 50px;
    // background-color: blue;
    padding: 2px 2px 2px 2px;
    min-height: 8rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.abilitys {
    grid-column: span 4;
    grid-row: span 1;
}


//---------------------------FOOTER-----------------------------

footer {
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    .footer-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-content: center;
        width: 100vw;
        max-width: 700px;
        padding: 4px;
        gap: 1px;
        button {
            background-color: whtite;
            grid-column: span 3;
            height: 44px;
            text-transform: uppercase;
            font-size: .7rem;
            font-weight: bold;
        }
    }
}