
//---------------------------BASE-PHONE-----------------------------

body {
    background-color: rgb(114, 135, 148);
}

.box {
    background-color: antiquewhite;
    border-radius: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main  {
    background-color: rgb(216, 216, 216);
    width: 90vw;
    max-width: 700px;
    height: 100vh;
    margin: auto;
    margin-top: 1rem;
}

header  {
    background-color: rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    h1 {
        font-weight: light;
        font-size: larger;
    }
}

//---------------------------TOP-SECTION-----------------------------

.top-section {
    background-color: rgb(43, 43, 43);
    padding: 2px 2px 0 2px;
    min-height: 12rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.menu {
    grid-column: span 2;
}

.name {
    grid-column: span 8;
}

.settings {
    grid-column: span 2;
}

.class-level {
    grid-column: span 4;
    grid-row: span 2;
}

.picture {
    grid-column: span 4;
    grid-row: span 2;
}

.hp-dice {
    grid-column: span 4;
    grid-row: span 2;
}

.prof {
    grid-column: span 4;
}

//---------------------------MID-SECTION-----------------------------

.mid-section {
    background-color: rgb(94, 36, 36);
    padding: 2px 2px 0 2px;
    min-height: 10rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.skills {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    .box-header {
        grid-column: span 12;
        grid-row: span 1;
        display: flex;
        justify-content: center;
    }
    h2 {
        font-weight: lighter;
        font-size: large;
        width: 30%;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(198, 198, 198);
    }
    .skill-row {
        background-color: rgb(198, 198, 198);
        grid-column: span 6;
        display: flex;
        justify-content: space-between;
        font-size: .8rem;
        padding: 2px 0 2px 0;
        div {
            border: solid black 1px;
            border-radius: 5px;
            margin: 2px;
            padding: 2px;
        }
        div:nth-child(1) {
            // background-color: yellow;
            margin-left: 4px;

        }
        div:nth-child(2) {
            // background-color: green;
            text-transform: uppercase;
        }
        div:nth-child(3) {
            // background-color: red;
            flex-grow: 2;
        }
        div:nth-child(4) {
            // background-color: blue;
            margin-right: 4px;
        }
    }
}

//---------------------------BOTTOM-SECTION-----------------------------


.bottom-section {
    background-color: rgb(44, 35, 35);
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.abilitys {
    grid-column: span 4;
    grid-row: span 1;
}
