
//---------------------------VARIABLES----------------------------
$black: rgb(6, 6, 6);
$white: rgb(234, 234, 234);

$maindark: rgb(38, 50, 52);
$mainbright:rgb(210, 225, 220);

$grey: rgb(75, 75, 75);

$trans-white: rgba(255, 255, 255, 0.2);
$trans-black: rgba(0, 0, 0, 0.2);