
//---------------------------VARIABLES----------------------------
$darkest: rgb(6, 6, 6);
$black: rgb(37, 46, 73);
$white: rgb(234, 234, 234);
$grey: rgb(75, 75, 75);
$maincolor:antiquewhite;
$trans-white: rgba(255, 255, 255, 0.3);
$trans-black: rgba(0, 0, 0, 0.2);